h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.ol-style{
   color: blueviolet;
   text-align: center;
   list-style-type: katakana-iroha;
}

.p-style{
   color:aqua;
   text-align: center;
}

.oll-style{
   color:black;
}